<!DOCTYPE html>
<html>
<head>
	<title>WebCMS4</title>
	<link rel="stylesheet" href="/static/css/main.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
<nav>
	<a class="logo" href="/">WebCMS4</a>
	<!--div class="nav-course">COMP6443</div>
	<div class="nav-course">COMP6447</div-->
	<a class="nav-search" href="/courses"><span class="material-icons">search</span></a>

</nav>
</header>
<main>
	<h1>Search Courses</h1>

	<form class="search-form" method="POST">
		<input type="text" name="search" placeholder="Search" value="{{ search }}">
		<button type="submit">Search</button>
	</form>

	<article>
	<table>
		<tr>
			<th>Course Code</th>
			<th>Semester</th>
			<th>Course Name</th>
		</tr>
		{% for course in courses %}
		<tr>
			<td>{{ course[1] }}</td>
			<td>{{ course[2] }}</td>
			<td>{{ course[3] }}</td>
		</tr>
		{% endfor %}
	</table>
	</article>

</main>
</div>


</body>
</html>
