<!DOCTYPE html>
<html>
<head>
	<title>WebCMS4</title>
	<link rel="stylesheet" href="/static/css/main.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
<nav>
	<a class="logo" href="/">WebCMS4</a>
	<a class="nav-search" href="/courses"><span class="material-icons">search</span></a>
	<a class="nav-profile" href="/profile/{{user[0]}}"><img src="/getimage?image={{user[2]}}"></a>
</nav>
</header>
<main>
	<h1>{{ user[1] }} - Edit Profile</h1>

	<article>
		{% if update %}<div class="profile-update">Profile updated</div>{% endif %}
		<form method="POST" class="profile-form">
				<h1>Bio</h1>
				<textarea name="bio">{{ user[3] }}</textarea>
				<h1>Profile Pic</h1>
				<input type="text" name="url" placeholder="URL">
				<button type="submit">Update Profile</button>
		</form>
	</article>

</main>
</div>


</body>
</html>
