<!DOCTYPE html>
<html>
<head>
	<title>WebCMS4</title>
	<link rel="stylesheet" href="/static/css/main.css">
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<form method="POST" class="login-form">
		<div class="course-main-title">Welcome to WebCMS4!</div>
		<h1>Login</h1>
		<div class="login-error">{{ error }}</div>
		<input type="text" name="sid" placeholder="sid">
		<input type="password" name="password" placeholder="password">
		<button type="submit">Login</button>
	</form>
</div>


</body>
</html>
